.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.pointsAndGuesses {
  position: absolute;

  top: 3rem;
  left: 2rem;

  display: flex;
  flex-direction: column;
}

.pointsAndGuesses span span {
  color: var(--primary-color);
  font-weight: 500;
}

.game h1 {
  margin: 20rem auto 1rem;
}

.game p span {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
}

.board {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.letter {
  width: 60px;
  height: 60px;

  font-size: 4rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  border: 3px solid var(--primary-color);
  background-color: var(--light-highlight);
}

body.dark .letter {
  background-color: var(--dark-highlight);
  border: 3px solid var(--primary-color);
}

.letterContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.letterContainer form {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.letterContainer input {
  width: 60px;
  height: 60px;

  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;

  border-radius: 1rem;
  border: 1px solid var(--primary-color);
}

.wrongLettersContainer {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  text-align: center;
}

.wrongLettersContainer div {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  flex-wrap: wrap;
}

.wrongLettersContainer span {
  font-size: 2rem;
}